cloud_id                 = "your-cloud-id"
folder_id                = "your-folder-id"
image_id                 = "your-image-id"
ubuntu_image_id          = "your-ubuntu-image-id"
public_key_path          = "files/user.pub"
private_key_path         = "files/user.key"
subnet_id                = "your-subnet-id"
service_account_key_file = "files/key.json"
app_disk_image           = "you-app-disk-image-id"
db_disk_image            = "you-db-disk-image-id"
